work/
build/
**/build/
__pycache__/
*.obj
*.pdb
*.ilk
*.map
*.exp
*.lib
*.exe
*.amx
*.db
*.sqlite*
*.sql
.env*
*.pem
*.key
*.idb
*.i64
client/map-suite/src/version.h
client/map-suite/*.asi
client/crashfix/*.asi

Valkyrie Crashfix.log
actor-metadata-fixture.bin
